<mat-nav-list  fxShow fxHide.gt-lg class="sidenav-list">
    <a mat-list-item routerLink="/signin" href="" (click)="onToggleClose()">
      <span>خرید</span>
    </a>
    <a mat-list-item routerLink="/signup" href="" (click)="onToggleClose()">
      <span>رهن و اجاره</span>
    </a>
    <a mat-list-item routerLink="/accommodation" href="" (click)="onToggleClose()">
      <span>جستجو روی نقشه</span>
    </a>
    <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
      <span>سپردن ملک</span>
    </a>
    <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
      <span>قیمت خانه شما</span>
    </a>
    <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
      <span>اطلاعات بازار</span>
    </a>
    <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
      <span>آژانس های املاک</span>
    </a>
    <a mat-list-item routerLink="/offers" href="" (click)="onToggleClose()">
      <span>تبلیغات</span>
    </a>
</mat-nav-list>
  
